name: build

on:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Build release DLL
      run: cargo build --release

    - name: Upload DLLs
      uses: actions/upload-artifact@v4
      with:
        name: release-dlls
        path: |
          target/release/*.dll
